
<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Student Name</h2>
            <h4>example@email.com</h4>
        </div>
        <img src="" alt="image">
    </div>

    <mat-divider></mat-divider>

    

    <a mat-list-item >Instructor Details</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="student-details">Student Deatils</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/course-content-list">Courses</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="student-update-details">Student Update </a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>