
<!-- add primeng table with student's courses he enrolled in -->
<p>Student Details</p>

<mat-grid-list cols="5" rowWidth="5:1" rowHeight="320px">
    <mat-grid-tile>
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Java Fundamentals</mat-card-title>
          <mat-card-subtitle>By Abdul Bari</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://img-b.udemycdn.com/course/240x135/2462140_b27f_2.jpg?secure=2vwZGtj6vN4SY0ZzKwn_eA%3D%3D%2C1611885494" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Learn Java from scratch.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>ENROLL</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Java Fundamentals</mat-card-title>
          <mat-card-subtitle>By Abdul Bari</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://img-b.udemycdn.com/course/240x135/2462140_b27f_2.jpg?secure=2vwZGtj6vN4SY0ZzKwn_eA%3D%3D%2C1611885494" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Learn Java from scratch.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>ENROLL</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Java Fundamentals</mat-card-title>
            <mat-card-subtitle>By Abdul Bari</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://img-b.udemycdn.com/course/240x135/2462140_b27f_2.jpg?secure=2vwZGtj6vN4SY0ZzKwn_eA%3D%3D%2C1611885494" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Learn Java from scratch.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ENROLL</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Java Fundamentals</mat-card-title>
            <mat-card-subtitle>By Abdul Bari</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://img-b.udemycdn.com/course/240x135/2462140_b27f_2.jpg?secure=2vwZGtj6vN4SY0ZzKwn_eA%3D%3D%2C1611885494" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Learn Java from scratch.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ENROLL</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Java Fundamentals</mat-card-title>
            <mat-card-subtitle>By Abdul Bari</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://img-b.udemycdn.com/course/240x135/2462140_b27f_2.jpg?secure=2vwZGtj6vN4SY0ZzKwn_eA%3D%3D%2C1611885494" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Learn Java from scratch.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ENROLL</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Java Fundamentals</mat-card-title>
            <mat-card-subtitle>By Abdul Bari</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://img-b.udemycdn.com/course/240x135/2462140_b27f_2.jpg?secure=2vwZGtj6vN4SY0ZzKwn_eA%3D%3D%2C1611885494" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Learn Java from scratch.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ENROLL</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Java Fundamentals</mat-card-title>
            <mat-card-subtitle>By Abdul Bari</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://img-b.udemycdn.com/course/240x135/2462140_b27f_2.jpg?secure=2vwZGtj6vN4SY0ZzKwn_eA%3D%3D%2C1611885494" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Learn Java from scratch.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ENROLL</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Java Fundamentals</mat-card-title>
            <mat-card-subtitle>By Abdul Bari</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://img-b.udemycdn.com/course/240x135/2462140_b27f_2.jpg?secure=2vwZGtj6vN4SY0ZzKwn_eA%3D%3D%2C1611885494" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Learn Java from scratch.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ENROLL</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Java Fundamentals</mat-card-title>
            <mat-card-subtitle>By Abdul Bari</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://img-b.udemycdn.com/course/240x135/2462140_b27f_2.jpg?secure=2vwZGtj6vN4SY0ZzKwn_eA%3D%3D%2C1611885494" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Learn Java from scratch.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ENROLL</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Java Fundamentals</mat-card-title>
            <mat-card-subtitle>By Abdul Bari</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://img-b.udemycdn.com/course/240x135/2462140_b27f_2.jpg?secure=2vwZGtj6vN4SY0ZzKwn_eA%3D%3D%2C1611885494" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Learn Java from scratch.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ENROLL</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
</mat-grid-list>
  





