
<p>student-update-details works</p>

<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="50px" class="stats-cards">
    <mat-card fxFlex="25">
       
       <app-card label="Subject1" total="100%" percentage="50"></app-card>
       
    </mat-card>
    <mat-card fxFlex="10">
        <app-card label="Subject2" total="100%" percentage="50"></app-card>
        
     </mat-card>
     <mat-card fxFlex="10">
        <app-card label="Subject3" total="100%" percentage="50"></app-card>
        
     </mat-card>
     <mat-card fxFlex="10">
        <app-card label="Subject4" total="100%" percentage="50"></app-card>
        
     </mat-card>
  
</div>
<br>
