<div class="container">
  <div class="bg-img"> 
  <div class="row">
    <div class="col-lg-4">
      <form  (ngSubmit)="onSubmit(f)" #f="ngForm">

        <div class="p-field p-grid">
          <label for="email" class="p-col-fixed" style="width:100px">Email</label>
          <div class="p-col">
            <input type="email" name="email" id="email" size="150" ngModel class="form-control" required>
          </div>
          </div>

        <div class="p-field p-grid">
          <label for="password" class="p-col-fixed" style="width:100px">Password</label>
          <div class="p-col">
            <input type="password" name="password" id="password" size="150" ngModel class="form-control" required>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" style="margin-left:auto;margin-right:auto;display:block;margin-bottom:0%">Login</button>

      </form>
    </div>
  </div>
  <br />
  <div class="row message-row" *ngIf="emailVerificationMessage">
    <div class="col-lg-8">
      <div class="alert alert-danger">
        Could not log you in.  Please verify your email and then attempt to sign in.
      </div>
    </div>
  </div>
</div>
</div>
