<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon> dehaze</mat-icon>
        </button>

        <a mat-button routerLink="/"><span><mat-icon>book</mat-icon>ELEARNING</span></a>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                
                <button style="margin-left:75.5em" routerLink="/instructor/instructor-update-details" mat-icon-button>
                    <mat-icon>settings</mat-icon>
                </button>
            <!--    <button *ngIf="this._auth.isInstructor()" style="margin-left:75.5em" routerLink="/instructor/instructor-update-details" mat-icon-button>
                    <mat-icon>settings</mat-icon>
                </button> -->
                <button mat-icon-button (click)="doLogout()">
                    <mat-icon>logout</mat-icon>
                </button>
                
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>