<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Instructor Name</h2>
            <h4>example@email.com</h4>
        </div>
        <img src="" alt="image">
    </div>

    <mat-divider></mat-divider>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/instructor/instructor-details">Dashboard</a>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/instructor/add">Add New Course</a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/instructor/courses">Your Courses</a>

    <mat-divider></mat-divider>

    <br>

    <form class="form-inline my-2 my-lg-0" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <input style="width: 140px; margin-left: 20px;" ngModel class="form-control mr-sm-2" type="search" id="search" name="search" placeholder="Search Courses" aria-label="Search">
        <button style="width: 70px" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <br>


    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>