<!-- Carousel Wrapper
<mdb-carousel [isControls]="true" class="carousel slide" [animation]="'slide'">
  <mdb-carousel-item>
      <div class="view">
          <video class="video-fluid" autoplay loop>
              <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
          </video>
          <div class="mask rgba-indigo-light waves-light" mdbWavesEffect></div>
      </div>

  </mdb-carousel-item>
</mdb-carousel>
Carousel Wrapper 

<body  class="inventory-body">

</body> -->

<header id="home" class="backstretched fullheight">
    <div class="dark-overlay fullheight">
        <div class="container fullheight">                   
            <div class="jumbotron">
                <h1><small>We offer the</small><br><br>
                Best Courses</h1>
                <p>
                    <a class="btn btn-white btn-lg page-scroll" href="#about-us" role="button">Why?</a> 
                    <a class="btn btn-lg btn-primary btn-green page-scroll" href="/search?title=" role="button">Browse Courses</a>
                </p>
            </div>
        </div>
    </div>
</header>

<section id="about-us">
    <div class="section-inner">
        <div class="container">
            <div class="row mb60 text-center">
                <div class="col-sm-12">
                    <h3 class="section-title">About Us</h3>
                    <p class="section-sub-title">Who are we?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p class="lead">Completely enhance an expanded array of internal or "organic" sources for prospective models.</p>
                    <p class="mb40">Assertively envisioneer business opportunities before interoperable e-markets. Quickly empower optimal core competencies and real-time imperatives. Enthusiastically predominate 24/365 benefits with collaborative web-readiness, assertively envisioneer business opportunities e-markets.</p>
                    <a class="btn btn-lg btn-primary btn-green page-scroll" href="/search?title=" role="button">Browse Courses</a>
                </div>
                <div class="col-md-8 col-md-offset-1">
                    <div class="row">
                        <div class="col-sm-6 wow fadeIn mb40">
                            <div class="icon-box-1 match-height mb30">
                                <i class="fa-4x pe-7s-camera"></i>
                                <div class="content-area">
                                    <h3 class="title">Web Design Training</h3>                                            
                                    <div class="content">Enthusiastically seize bricks-and-clicks supply chains without open-source solutions. Objectively harness cross-media results for performance based.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn mb40">
                            <div class="icon-box-1 match-height mb30">
                                <i class="fa-4x pe-7s-piggy"></i>
                                <div class="content-area">
                                    <h3 class="title">Finance Degree</h3>                                            
                                    <div class="content">Goodbye gray sky hello blue. There's nothing can hold me when I hold you. Feels so right it cant be wrong. Seamlessly underwhelm enterprise-wide.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn">
                            <div class="icon-box-1 match-height mb30">
                                <i class="fa-4x pe-7s-joy"></i>
                                <div class="content-area">
                                    <h3 class="title">Video Game Development</h3>                                            
                                    <div class="content">Goodbye gray sky hello blue. There's nothing can hold me when I hold you. Feels so right it cant be wrong.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn">
                            <div class="icon-box-1 match-height mb30">
                                <i class="fa-4x pe-7s-micro"></i>
                                <div class="content-area">
                                    <h3 class="title">Audio Engineering</h3>                                            
                                    <div class="content">Goodbye gray sky hello blue. There's nothing can hold me when I hold you. Feels so right it cant be wrong.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="band-member-1" class="hover-shift smoothie match-height" data-mh="page-splitter">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8 col-xs-12 dark-overlay smoothie match-height" data-mh="page-splitter">
                <div class="section-inner">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <h3>Why choose us?</h3>
                            <h5 class="section-sub-title mb40">Let us explain.</h5>
                            <p class="mb40">Holisticly orchestrate superior total linkage rather than end-to-end internal or "organic" sources. Seamlessly procrastinate client-based ROI without long-term high-impact.</p>
                            <a href="/search?title=" class="btn btn-primary btn-green btn-lg">Browse Courses</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row mb90">
            <div class="col-2">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="text-widget widget">
                        <h4 class="widget-title mb40">Location</h4>
                        <div class="widget-content">
                            <p>Conveniently enhance high-quality imperatives vis-a-vis team driven technologies. Intrinsicly fashion economically sound communities rather than principle-centered deliverables. Synergistically impact.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="useful-link-widget widget">
                        <h4 class="widget-title mb40">Pages</h4>
                        <div class="widget-content">
                            <div class="useful-link-list">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <ul class="list-unstyled">
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Instructors</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Courses</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Support</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Why ELearning</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Social Media</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Site Map</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <ul class="list-unstyled">
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Company</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Latest Courses</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Partners</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Blog Post</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Help Topic</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-angle-right"></i><a href="#">Policies</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="gallery-widget widget">
                        <h4 class="widget-title mb40">Gallery</h4>
                        <div class="widget-content">
                            <div class="gallery-list">
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="https://unsplash.it/300/300?image=548">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="https://unsplash.it/300/300?image=659">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="https://unsplash.it/300/300?image=974">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="https://unsplash.it/300/300?image748">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="https://unsplash.it/300/300?image=484">
                                </a>
                                <a class="thumb" href="#">
                                    <img alt="" class="img-responsive" src="https://unsplash.it/300/300?image=298">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="mailing-widget widget">
                        <h4 class="widget-title mb40">Mailing List</h4>
                        <div class="content-wiget">
                            <p class="mb40">Subscribe to our newsletter for the latest updates and offers.</p>
                            <form action="index.html">
                                <div class="input-group">
                                    <input class="form-control form-email-widget" placeholder="Email address" type="text"><span class="input-group-btn"><input class="btn btn-email" type="submit" value="✓"></span>
                                </div>
                            </form>
                            <p></p>    
                        </div>                                
                    </div>
                </div>
            </div>
        </div>
        <div class="row">                
            <div class="col-md-6 footer-social">
                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                <a class="blog" href="#"><i class="fa fa-rss"></i></a>
                <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>     
            </div>
            <div class="col-md-6 text-right">
                <p class="copyright"><small>© 2021. Designed and Developed by Team Cloud BU Training.</small></p>
            </div>
        </div>
    </div>
</footer>
